\.metadata/
\Debug/
*.lock
*.zip
*.pdom
*.sc
*.snap
*.index
*.location
*.fdt
*.fnm
*.nrm
*.gen
*.fdx
*.tii
*.json
*.log
*.properties
*.xml
*.project
*.xmi
Stacja/.cproject
*.d
*.mk
*.version
*.libhover
*.tree
Stacja/lcdlibrary/doxygen\.css
Stacja/lcdlibrary/doxygen\.png
Stacja/lcdlibrary/group__pfleury__lcd\.html

Stacja/\.settings/
